doctype html
head
  link(rel='icon' type='image/png' sizes='16x16' href='../favicon/favicon-16x16.png')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='../css/boostrap-5.3/css/bootstrap.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
  link(rel='stylesheet' href='../css/custom.css')
  title U-Farm
  style.
    body {
    background-image: url(../photos/photos1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, sans-serif;
    }
// Nav starts here
div(w3-include-html='../includes/navbar.html')
// Nav ends here
.container(style='margin-top: 90px;')
.row(style='background-color: white; height: 400px; ')
  .col
  .col-11
    h4(style='text-align: center; margin-top: 20px; margin-bottom: 20px; color: rgb(3, 117, 3); font-family: Times New Roman; font-size: 30px;') About us
    hr
    p
      | Welcome to Ufarm, the online platform connecting Ugandan farmers with buyers across the country. We believe
      | that every farmer deserves fair access to markets, and every buyer should have access to fresh, locally grown
      | produce.
    p
      | Our platform makes it easy for farmers to showcase their products and connect with buyers. We work directly
      | with farmers to ensure that their produce is of the highest quality and meets our strict standards for freshness
      | and sustainability.
    hr
    h5(style='text-align: center; margin-top: 20px; margin-bottom: 20px; color: rgb(3, 117, 3); font-family: Times New Roman; font-size: 23px; ')
      | Our Mission  
      i.fa.fa-user-helmet-safety
    |       At Ufarm, we are committed to building a better future for Ugandan agriculture. By supporting small-scale farmers
    |       and promoting sustainable practices, we are helping to create a more resilient and equitable food system.
    |       Thank you for choosing to support Ugandan farmers and for joining us in our mission to create a more sustainable
    |       and just world.
    p
  .col
.row(style='margin-top: 70px; margin-left: 100px; margin-right: 50px; margin-bottom: -130px;')
  .col
    .card(style='width: 18rem; background-color: rgba(255, 255, 255, 0); color: white;')
      img.rounded-circle(src='../photos/ceo1-min.jpg' alt='...')
      .card-body
        h5.card-title(style='text-align: center;') CEO Ufarm
        p.card-text(style='text-align: center;')  Kalibbala Johnson
  .col
    .card(style='width: 18rem; background-color: rgba(255, 255, 255, 0); color: white;')
      img.rounded-circle(src='../photos/ceo1-min.jpg' alt='...')
      .card-body
        h5.card-title(style='text-align: center;') Managing Director
        p.card-text(style='text-align: center;')  George White
  .col
    .card(style='width: 18rem; background-color: rgba(255, 255, 255, 0); color: white;')
      img.rounded-circle(src='../photos/ceo2-min.jpg' alt='...')
      .card-body
        h5.card-title(style='text-align: center;') Secretary General
        p.card-text(style='text-align: center;')  Kate Samantha
// Nav starts here
div(w3-include-html='../includes/footer.html')
// Nav ends here
script(src='../js/custom.js')
script(src='../css/boostrap-5.3/js/bootstrap.bundle.js')
